

.navMenu{
    display: none;
    justify-content: center;
    flex-direction: column;
    gap:2px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #000000;
    border-radius: 5px;
    width: min-content;
    height: min-content;
    align-self: center;
    margin-right: 10px;
    @media (max-width: 468px) {
        display: flex;
    }
    >img{
        width: 30px;
        height: 30px;
    }
}

.navMenu.open{
    border: none;
  
}



