.navbar{
   display: flex;
   width: 100%;
   /* justify-content: space-between; */
   background-color: yellow;
   border-top: 1px solid rgb(160, 155, 155);
   border-bottom: 1px solid black;
   padding-top: 5px;
   padding-bottom: 5px;
   gap:30px;
}

.imageContainer{
    display: flex;
    padding-left: 20px;
}

.navlinksContainer{
    display: flex;
   flex:1;
    gap:20px;
    align-self: center;
}

.navlink{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
  
}

.active{
   background-color: red;
}

.disable{
    pointer-events: none;
}

.cart{
    align-self: center;
    padding-right: 20px;
}

.navWrapper{
    display: contents;
}