.navbar{
   display: flex;
   width: 100%;
   background-color: yellow;
   border-top: 1px solid rgb(160, 155, 155);
   border-bottom: 1px solid black;
   padding-top: 5px;
   padding-bottom: 5px;
   gap:30px;
   @media (max-width:468px) {
      justify-content: space-between;
   }
}

.imageContainer{
    display: flex;
    padding-left: 20px;
}

.navlinksContainer{
    display: flex;
   flex:1;
    gap:20px;
    align-self: center;
    @media (max-width:468px) {
        flex:0;
        gap:20px;
        display: flex;
        flex-direction: column;  
        align-self: flex-start;
        width: 100%;
     }
}

.navlink{
    /* justify-content: center;
    align-items: center;
    display: flex; */
    /* height: 100%; */
    @media (max-width:468px) {
        width: 100%;
    }
}

.navlink a {
    display: block;
    width: 100%;
}

.active{
   background-color: red;
}

.disable{
    pointer-events: none;
}

.cart{
    display: flex;
    align-self: center;
    text-align: center;
    padding-right: 20px; 
     @media (max-width:468px) {
       display: block;
       padding-right: 0; 
       margin: 50px;
       width: 100%;
     }
}

.navWrapper{
    display: contents;
    @media (max-width:468px) {
        position: absolute;
        display: none;
        align-self: flex-start;
        justify-content: flex-start;
        right: 0;
        top: 0;
        bottom: 0;
        left: 35%;
        background-color: rgba(255, 255, 255, 0.90);
        flex-direction: column;
     }
}

.navWrapper.openMenu{
    display: contents;
    @media (max-width:468px) {
        position: absolute;
        display: flex;
        align-self: flex-start;
        justify-content: flex-start;
        right: 0;
        top: 0;
        bottom: 0;
        left: 35%;
        background-color: rgba(255, 255, 255, 0.90);
        flex-direction: column;
     }
}

.navWrapper > {
    @media (max-width:468px) {
    margin: 20px;
    border-bottom: 2px black solid;
    }
}

.hamburgerHover {
    display: contents;
    :hover{
        background-color: red;
    }
}

.openMenu{
  background-color: aqua;
}