.footer{
    display: flex;
    max-height: 20px;
    width: 100%;
    justify-content: center;
    background-color: yellow;
    border-top: 1px solid rgb(160, 155, 155);
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
 }
 